<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    {{!-- navbar --}}

    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left about">
                        <img src="./images/profileimg.png" alt="batman">
                    </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <!-- <p>Welcome to weather app</p> -->
                        <h1>I am a<span> Full-stack developer </span>and<span> programmer </span></h1>
                        <a href="https://milesmorales314.github.io/portfolio/#home" target="_blank"><button>About me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}
</body>
</html>