<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    {{!-- navbar --}}
    {{!-- {{>navbar}} --}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                {{!-- <div class="row"> --}}
                    <!-- right side div -->
                    <div class="col-md-12 col-12 main_header_right align-items-center">
                        <img src="./images/errorimg.png" alt="batman" class="errorimg">
                        <h1>Oops!! Look like you've got lost</h1>
                        <a href="/"><button>let's go back home</button></a>
                    </div>
                {{!-- </div> --}}
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}
</body>
</html>