<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    {{!-- navbar --}}
    {{>navbar}}

    <!-- main header -->
    <div class="main">
        <!-- right side div -->
        <div class="main_content">
            <form action="/weather" class="temp_form" id="temp_form" method="post">
                <input type="text" id="cityname" name="cityname" placeholder="Enter your city name" autocomplete="off">
                <input type="submit" value="search" id="submitBtn">
            </form>
        </div>
        <div class="tempInformation">
            <div class="top_layer">
                <p id="day">Tuesday</p>
                <p id="today_date">13 OCT</p>
            </div>
            <div class="output_status">
                <p>{{output_status}}</p>
            </div>
            <div class="result">
                <p id="temp" class="temp"><span>{{temp}}</span> &deg;C</p>
                <p id="temp_status">{{weather_status}}</p>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}

    <script src="./js/main.js"></script>
</body>

</html>