@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,200;8..30,300;8..30,400;8..30,900&family=Roboto:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-bg: #000;
    --main-color: rgb(104, 132, 224);
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: grid;
    /* place-items: center; */
    gap: 2rem;
    /* grid-template-rows: repeat(auto-fit, 1fr); */
}

.row {
    margin: 0%;
}

.main_menu {
    background-color: var(--main-bg);
    margin-bottom: auto;
}

/* @media only screen and (min-width: 600px)  {
    .main_menu {
        height: 8rem;
    }
} */

.navbar {
    color: #fff;
    background-color: var(--main-bg);
    padding: 2rem;
    /* height: 100%; */
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    color: #fff;
    font-size: 1.8rem;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar-toggler {
    background-color: #fff;
}

.fa-snowflake {
    transition: all linear;
    animation: rotate 2s linear infinite;
    color: var(--main-color);
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* main header */
/* .main_header {
    padding-top: 1rem;
    margin-top: auto;
} */

.main_header_left, .main_header_right {
    height: 60vh;
    /* margin: auto 0;
    height: fit-content;
    display: grid;
    place-items: start;
    grid-template-rows: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header p {
    font-size: 2rem;
    font-weight: bold;
}

.main_header h1 {
    font-size: 4rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}

.main_header button {
    border: none;
    padding: .8rem 1.8rem;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 1rem;
    text-transform: uppercase;
    box-shadow: 4px 4px 4px -2px #000;
}

.main_header button:hover {
    box-shadow: 4px 4px 4px -2px var(--main-color);
}

.main_header span {
    font-weight: bolder;
    color: var(--main-color);
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: var(--main-bg);
}

footer p {
    margin: 0;
    text-align: center;
    color: #fff;
    line-height: 5rem;
    font-size: 1.4rem;
}

.main_header_left > img {
    filter: drop-shadow(5px 5px 3px #000);
    -webkit-filter: drop-shadow(5px 5px 3px #000);
}

img {
    height: 20rem;
}

.home img {
    height: 100%;
    width: auto;
}

.row {
    overflow-y: hidden !important;
}

/* about page */

.about img {
    margin: 0 auto;
    height: 30rem;
}

/* weather page */

.main {
    height: 30rem;

    display: grid;
    justify-items: center;
}

.main_content, .tempInformation {
    width: fit-content;
    margin: 0%;
}

.temp_form {
    /* width: 60%; */
    position: relative;
    background-color: rgb(218, 218, 218);

    border-radius: 1.5rem;

    font-size: 1.4rem;
}

.temp_form input[type='text']{
    height: 4rem;
    width: 50rem;
    padding: 0.5rem;
    font-weight: bolder;

    border: none;
    outline: none;

    border-radius: 1.5rem;
    margin: 0 auto;

    background-color: rgb(235, 235, 235);

    box-shadow: 0px 2px 7px -2px var(--main-color);
}

.temp_form input[type='submit']{
    height: 3.5rem;
    width: 10rem;

    border-radius: 1.2rem;

    border: none;
    outline: none;

    position: absolute;
    right: 5px;
    bottom: 0.25rem;
    top: 0.25rem;

    background-color: var(--main-bg);
    color: #fff;
    font-weight: bolder;
}

.main{
    font-size: 1.2rem;
    font-weight: 600;
}

.main p {
    margin: 0;
}

.tempInformation {
    display: grid;
    background-color: var(--main-bg);
    color: #fff;

    width: 30rem;
    padding: 2rem;
    border-radius: 2rem;
}

.top_layer {
    display: flex;
    justify-content: space-between;
}

.result {
    display: flex;
    justify-content: space-around;
    place-items: center;
}

.temp {
    font-size: 4rem;
}

@media only screen and (max-width: 600px) {
    .temp_form input[type='text'] {
        width: 90vw;
    }

    .tempInformation {
        width: 90vw;
    }
    
}